<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdaocloud.futurechain.mapper.BankCardMapper">
  <resultMap id="BaseResultMap" type="com.xdaocloud.futurechain.model.BankCard">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_number" jdbcType="VARCHAR" property="bankNumber" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="cardholder" jdbcType="VARCHAR" property="cardholder" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, bank_name, bank_number, bank_type, cardholder, gmt_create, gmt_modified,
    is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_bank_card
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_bank_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xdaocloud.futurechain.model.BankCard">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bank_card (user_id, bank_name, bank_number,
    bank_type, cardholder, gmt_create,
    gmt_modified, is_deleted)
    values (#{userId,jdbcType=BIGINT}, #{bankName,jdbcType=VARCHAR}, #{bankNumber,jdbcType=VARCHAR},
    #{bankType,jdbcType=VARCHAR}, #{cardholder,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
    #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xdaocloud.futurechain.model.BankCard">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bank_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankNumber != null">
        bank_number,
      </if>
      <if test="bankType != null">
        bank_type,
      </if>
      <if test="cardholder != null">
        cardholder,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankNumber != null">
        #{bankNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="cardholder != null">
        #{cardholder,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdaocloud.futurechain.model.BankCard">
    update t_bank_card
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankNumber != null">
        bank_number = #{bankNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="cardholder != null">
        cardholder = #{cardholder,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdaocloud.futurechain.model.BankCard">
    update t_bank_card
    set user_id = #{userId,jdbcType=BIGINT},
    bank_name = #{bankName,jdbcType=VARCHAR},
    bank_number = #{bankNumber,jdbcType=VARCHAR},
    bank_type = #{bankType,jdbcType=VARCHAR},
    cardholder = #{cardholder,jdbcType=VARCHAR},
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
    is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findOneByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT * FROM t_bank_card WHERE user_id = #{userId} AND is_deleted = FALSE;
  </select>

  <select id="findListByUserId" parameterType="java.lang.Long" resultType="com.xdaocloud.futurechain.dto.resp.user.BankResponse">
     SELECT
      bank_name AS bankName,
      bank_number AS bankNumber,
      bank_type AS bankType,
      cardholder
      FROM t_bank_card WHERE user_id = #{userId} AND is_deleted = FALSE;
  </select>
</mapper>