<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdaocloud.futurechain.mapper.EosWalletMapper">
    <resultMap id="BaseResultMap" type="com.xdaocloud.futurechain.model.EosWallet">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="wallet_name" jdbcType="VARCHAR" property="walletName"/>
        <result column="pass_phrase" jdbcType="VARCHAR" property="passPhrase"/>
        <result column="wallet_pass" jdbcType="VARCHAR" property="walletPass"/>
        <result column="wallet_address" jdbcType="CHAR" property="walletAddress"/>
        <result column="active_private_key" jdbcType="VARCHAR" property="activePrivateKey"/>
        <result column="active_public_key" jdbcType="VARCHAR" property="activePublicKey"/>
        <result column="owner_private_key" jdbcType="VARCHAR" property="ownerPrivateKey"/>
        <result column="owner_public_key" jdbcType="VARCHAR" property="ownerPublicKey"/>
        <result column="wallet_file_path" jdbcType="VARCHAR" property="walletFilePath"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xdaocloud.futurechain.model.EosWallet">
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, wallet_name, pass_phrase, wallet_pass, wallet_address, active_private_key, 
    active_public_key, owner_private_key, owner_public_key, wallet_file_path, gmt_create, 
    gmt_modified, is_deleted
  </sql>
    <sql id="Blob_Column_List">
    remark
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_eos_wallet
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_eos_wallet
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.xdaocloud.futurechain.model.EosWallet">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_eos_wallet (user_id, wallet_name, pass_phrase,
        wallet_pass, wallet_address, active_private_key,
        active_public_key, owner_private_key, owner_public_key,
        wallet_file_path, gmt_create, gmt_modified,
        is_deleted, remark)
        values (#{userId,jdbcType=BIGINT}, #{walletName,jdbcType=VARCHAR}, #{passPhrase,jdbcType=VARCHAR},
        #{walletPass,jdbcType=VARCHAR}, #{walletAddress,jdbcType=CHAR}, #{activePrivateKey,jdbcType=VARCHAR},
        #{activePublicKey,jdbcType=VARCHAR}, #{ownerPrivateKey,jdbcType=VARCHAR}, #{ownerPublicKey,jdbcType=VARCHAR},
        #{walletFilePath,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
        #{isDeleted,jdbcType=BIT}, #{remark,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.xdaocloud.futurechain.model.EosWallet">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_eos_wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="walletName != null">
                wallet_name,
            </if>
            <if test="passPhrase != null">
                pass_phrase,
            </if>
            <if test="walletPass != null">
                wallet_pass,
            </if>
            <if test="walletAddress != null">
                wallet_address,
            </if>
            <if test="activePrivateKey != null">
                active_private_key,
            </if>
            <if test="activePublicKey != null">
                active_public_key,
            </if>
            <if test="ownerPrivateKey != null">
                owner_private_key,
            </if>
            <if test="ownerPublicKey != null">
                owner_public_key,
            </if>
            <if test="walletFilePath != null">
                wallet_file_path,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="walletName != null">
                #{walletName,jdbcType=VARCHAR},
            </if>
            <if test="passPhrase != null">
                #{passPhrase,jdbcType=VARCHAR},
            </if>
            <if test="walletPass != null">
                #{walletPass,jdbcType=VARCHAR},
            </if>
            <if test="walletAddress != null">
                #{walletAddress,jdbcType=CHAR},
            </if>
            <if test="activePrivateKey != null">
                #{activePrivateKey,jdbcType=VARCHAR},
            </if>
            <if test="activePublicKey != null">
                #{activePublicKey,jdbcType=VARCHAR},
            </if>
            <if test="ownerPrivateKey != null">
                #{ownerPrivateKey,jdbcType=VARCHAR},
            </if>
            <if test="ownerPublicKey != null">
                #{ownerPublicKey,jdbcType=VARCHAR},
            </if>
            <if test="walletFilePath != null">
                #{walletFilePath,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xdaocloud.futurechain.model.EosWallet">
        update t_eos_wallet
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="walletName != null">
                wallet_name = #{walletName,jdbcType=VARCHAR},
            </if>
            <if test="passPhrase != null">
                pass_phrase = #{passPhrase,jdbcType=VARCHAR},
            </if>
            <if test="walletPass != null">
                wallet_pass = #{walletPass,jdbcType=VARCHAR},
            </if>
            <if test="walletAddress != null">
                wallet_address = #{walletAddress,jdbcType=CHAR},
            </if>
            <if test="activePrivateKey != null">
                active_private_key = #{activePrivateKey,jdbcType=VARCHAR},
            </if>
            <if test="activePublicKey != null">
                active_public_key = #{activePublicKey,jdbcType=VARCHAR},
            </if>
            <if test="ownerPrivateKey != null">
                owner_private_key = #{ownerPrivateKey,jdbcType=VARCHAR},
            </if>
            <if test="ownerPublicKey != null">
                owner_public_key = #{ownerPublicKey,jdbcType=VARCHAR},
            </if>
            <if test="walletFilePath != null">
                wallet_file_path = #{walletFilePath,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xdaocloud.futurechain.model.EosWallet">
    update t_eos_wallet
    set user_id = #{userId,jdbcType=BIGINT},
      wallet_name = #{walletName,jdbcType=VARCHAR},
      pass_phrase = #{passPhrase,jdbcType=VARCHAR},
      wallet_pass = #{walletPass,jdbcType=VARCHAR},
      wallet_address = #{walletAddress,jdbcType=CHAR},
      active_private_key = #{activePrivateKey,jdbcType=VARCHAR},
      active_public_key = #{activePublicKey,jdbcType=VARCHAR},
      owner_private_key = #{ownerPrivateKey,jdbcType=VARCHAR},
      owner_public_key = #{ownerPublicKey,jdbcType=VARCHAR},
      wallet_file_path = #{walletFilePath,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.xdaocloud.futurechain.model.EosWallet">
    update t_eos_wallet
    set user_id = #{userId,jdbcType=BIGINT},
      wallet_name = #{walletName,jdbcType=VARCHAR},
      pass_phrase = #{passPhrase,jdbcType=VARCHAR},
      wallet_pass = #{walletPass,jdbcType=VARCHAR},
      wallet_address = #{walletAddress,jdbcType=CHAR},
      active_private_key = #{activePrivateKey,jdbcType=VARCHAR},
      active_public_key = #{activePublicKey,jdbcType=VARCHAR},
      owner_private_key = #{ownerPrivateKey,jdbcType=VARCHAR},
      owner_public_key = #{ownerPublicKey,jdbcType=VARCHAR},
      wallet_file_path = #{walletFilePath,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findCountByParam" parameterType="com.xdaocloud.futurechain.model.EosWallet"
            resultType="java.lang.Integer">

        SELECT COUNT(1) FROM t_eos_wallet
        <where>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="walletName != null">
                AND wallet_name = #{walletName,jdbcType=VARCHAR}
            </if>
            <if test="passPhrase != null">
                AND pass_phrase = #{passPhrase,jdbcType=VARCHAR}
            </if>
            <if test="walletPass != null">
                AND wallet_pass = #{walletPass,jdbcType=VARCHAR}
            </if>
            <if test="walletAddress != null">
                AND wallet_address = #{walletAddress,jdbcType=CHAR}
            </if>
            <if test="activePrivateKey != null">
                AND active_private_key = #{activePrivateKey,jdbcType=VARCHAR}
            </if>
            <if test="activePublicKey != null">
                AND active_public_key = #{activePublicKey,jdbcType=VARCHAR}
            </if>
            <if test="ownerPrivateKey != null">
                AND owner_private_key = #{ownerPrivateKey,jdbcType=VARCHAR}
            </if>
            <if test="ownerPublicKey != null">
                AND owner_public_key = #{ownerPublicKey,jdbcType=VARCHAR}
            </if>
            <if test="walletFilePath != null">
                AND wallet_file_path = #{walletFilePath,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                AND gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="isDeleted != null">
                AND is_deleted = #{isDeleted,jdbcType=BIT}
            </if>
            <if test="remark != null">
                AND remark = #{remark,jdbcType=LONGVARCHAR}
            </if>
        </where>
    </select>

    <select id="findOneByParam" parameterType="com.xdaocloud.futurechain.model.EosWallet"
            resultMap="BaseResultMap">

        SELECT * FROM t_eos_wallet
        <where>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="walletName != null">
                AND  wallet_name = #{walletName,jdbcType=VARCHAR}
            </if>
            <if test="passPhrase != null">
                AND  pass_phrase = #{passPhrase,jdbcType=VARCHAR}
            </if>
            <if test="walletPass != null">
                AND  wallet_pass = #{walletPass,jdbcType=VARCHAR}
            </if>
            <if test="walletAddress != null">
                AND  wallet_address = #{walletAddress,jdbcType=CHAR}
            </if>
            <if test="activePrivateKey != null">
                AND active_private_key = #{activePrivateKey,jdbcType=VARCHAR}
            </if>
            <if test="activePublicKey != null">
                AND  active_public_key = #{activePublicKey,jdbcType=VARCHAR}
            </if>
            <if test="ownerPrivateKey != null">
                AND  owner_private_key = #{ownerPrivateKey,jdbcType=VARCHAR}
            </if>
            <if test="ownerPublicKey != null">
                AND  owner_public_key = #{ownerPublicKey,jdbcType=VARCHAR}
            </if>
            <if test="walletFilePath != null">
                AND wallet_file_path = #{walletFilePath,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                AND  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="isDeleted != null">
                AND  is_deleted = #{isDeleted,jdbcType=BIT}
            </if>
            <if test="remark != null">
                AND  remark = #{remark,jdbcType=LONGVARCHAR}
            </if>
        </where>

    </select>

    <select id="findWalletNameByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
     SELECT wallet_name FROM t_eos_wallet WHERE user_id = #{userId} AND is_deleted = FALSE
</select>

    <select id="findOneByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM t_eos_wallet WHERE user_id = #{userId} AND is_deleted = FALSE
    </select>

    <select id="findWalletName" parameterType="java.lang.String" resultType="java.lang.String">
            SELECT wallet_name FROM t_eos_wallet WHERE wallet_name = #{walletName}
    </select>

    <select id="findAll"  resultMap="BaseResultMap">
          SELECT * FROM t_eos_wallet
    </select>

    <select id="findMovenWalletByIsDelete" parameterType="java.lang.Boolean" resultMap="BaseResultMap">
              SELECT * FROM t_eos_wallet WHERE is_deleted = #{bool}
    </select>

    <select id="findOneByWalletName" parameterType="java.lang.String" resultMap="BaseResultMap">
           SELECT * FROM t_eos_wallet WHERE wallet_name = #{walletName}
    </select>
</mapper>