<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdaocloud.futurechain.mapper.WalletMapper">
  <resultMap id="BaseResultMap" type="com.xdaocloud.futurechain.model.Wallet">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="money_sum" jdbcType="DECIMAL" property="moneySum" />
    <result column="digital_currency" jdbcType="DECIMAL" property="digitalCurrency" />
    <result column="wallet_address" jdbcType="CHAR" property="walletAddress" />
    <result column="wallet_private_key" jdbcType="VARCHAR" property="walletPrivateKey" />
    <result column="wallet_public_key" jdbcType="VARCHAR" property="walletPublicKey" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pass_phrase" jdbcType="VARCHAR" property="passPhrase" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, money_sum, digital_currency, wallet_address, wallet_private_key, wallet_public_key, 
    remark, pass_phrase, gmt_create, gmt_modified, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wallet
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_wallet
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xdaocloud.futurechain.model.Wallet">
    insert into t_wallet (user_id, money_sum, digital_currency, 
      wallet_address, wallet_private_key, wallet_public_key, 
      remark, pass_phrase, gmt_create, 
      gmt_modified, is_deleted)
    values (#{userId,jdbcType=BIGINT}, #{moneySum,jdbcType=DECIMAL}, #{digitalCurrency,jdbcType=DECIMAL}, 
      #{walletAddress,jdbcType=CHAR}, #{walletPrivateKey,jdbcType=VARCHAR}, #{walletPublicKey,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{passPhrase,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xdaocloud.futurechain.model.Wallet">
    insert into t_wallet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="moneySum != null">
        money_sum,
      </if>
      <if test="digitalCurrency != null">
        digital_currency,
      </if>
      <if test="walletAddress != null">
        wallet_address,
      </if>
      <if test="walletPrivateKey != null">
        wallet_private_key,
      </if>
      <if test="walletPublicKey != null">
        wallet_public_key,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="passPhrase != null">
        pass_phrase,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="moneySum != null">
        #{moneySum,jdbcType=DECIMAL},
      </if>
      <if test="digitalCurrency != null">
        #{digitalCurrency,jdbcType=DECIMAL},
      </if>
      <if test="walletAddress != null">
        #{walletAddress,jdbcType=CHAR},
      </if>
      <if test="walletPrivateKey != null">
        #{walletPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="walletPublicKey != null">
        #{walletPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="passPhrase != null">
        #{passPhrase,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdaocloud.futurechain.model.Wallet">
    update t_wallet
    <set>
      <if test="moneySum != null">
        money_sum = #{moneySum,jdbcType=DECIMAL},
      </if>
      <if test="digitalCurrency != null">
        digital_currency = #{digitalCurrency,jdbcType=DECIMAL},
      </if>
      <if test="walletAddress != null">
        wallet_address = #{walletAddress,jdbcType=CHAR},
      </if>
      <if test="walletPrivateKey != null">
        wallet_private_key = #{walletPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="walletPublicKey != null">
        wallet_public_key = #{walletPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="passPhrase != null">
        pass_phrase = #{passPhrase,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdaocloud.futurechain.model.Wallet">
    update t_wallet
    set money_sum = #{moneySum,jdbcType=DECIMAL},
      digital_currency = #{digitalCurrency,jdbcType=DECIMAL},
      wallet_address = #{walletAddress,jdbcType=CHAR},
      wallet_private_key = #{walletPrivateKey,jdbcType=VARCHAR},
      wallet_public_key = #{walletPublicKey,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      pass_phrase = #{passPhrase,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>